// Variables
$main-font: 'Roboto', sans-serif;
$body-bg: #f9f9f9;
$main-color: green;

// Resets
* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
}

body {
  font-family: $main-font !important;
  background: linear-gradient(#112122, #093b58);
  color: #FFF;
}

.landing {
  text-align: center;
  h3 {
    margin: 40px 0 !important;
  }
  p {
    padding: 0 10px !important;
  }
}

.distortion, .distortion2 {
  height: 300px;
  width: 400px;
  margin: 40px auto !important;
  border-radius: 5px;
  overflow: hidden;
}